{% extends 'base.jinja' %}

{% block content %}
<div class="home-hero-container">
    <div class="home-hero-left">
        <h2>Want to know today's favorite pokemon?</h2>
        <blockquote></blockquote>
        <a class="nav-link" href="{{ url_for ('pokemon.todays_pokemon') }}">Today's Favorite Pokémon</a>
    </div>
    <div class="home-hero-right">
        <img src="https://i.stack.imgur.com/xeqSS.jpg">
    </div>
</div>

{% endblock %}