{% extends 'base.jinja' %}

{% block content %}

<div class="pokemon_container">

    <div class="pokemon_heading">
        <h2>Today's Favorite Pokemon</h2>
        <h4>{{ _date }}</h3>
    </div>

    <div class="card_container">
        {% for k in _dict.keys() %}
        <div class="card text-white bg-dark mb-3 card_style">
            <img class="card-img-top" src="{{ _dict[k][1] }}" alt="{{ _dict[k][0] }}" style="max-width: 20rem;">
            <div class="card-body">
                <h6 class="card_number">{{ k }}</h6>
                <h5 class="card_title">{{ _dict[k][0] }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        {% if current_user.is_authenticated %}
        <form action="" method="POST" novalidate class="form_signup">
            <h2>Which Pokemon would you like to add?</h2>
            {{ form.hidden_tag() }}
            <br>
            <p>
                {{ form.poke_num.label }}<br>
                {{ form.poke_num(size=8) }}
                {% for error in form.poke_num.errors %}
                <span class="error_msg">{{ error }}</span>
                {% endfor %}
            </p>
            <br>
            <p>{{ form.submit() }}</p>
        </form>
        {% else %}
        <div class="sign_offer">
            <a class="link-opacity-25-hover" href="{{ url_for ('auth.signup') }}">Sign up</a> or
            <a class="link-opacity-25-hover" href="{{ url_for ('auth.signin') }}">sign in</a> to select your favorite
            Pokemon!
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}